@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-card-sedan: #e28625;
    --color-card-suv: #006971;
    --color-card-luxury: #004140;

    --font-title: "Big Shoulders", sans-serif;
    --font-description: "Lexend Deca", sans-serif;
}
